<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static/test.css">
        <title>
            reSOURCEful
        </title>
    </head>
    <body>
        <h3>
            reSOURCEful
        </h3>
        <p>
            Upload a photo of ingredients..<br>
            <form method="post" enctype="multipart/form-data" action="/vision">
		<input class="fileinputs" type="file" name="imageupload">
		<input class="fileinputs" id="uploadimage" type="submit" name="uploadimage" value="Upload Image">
	    </form>
        </p>
            {% for ingre in ing %}
                <a href="https://google.com/search?">{{ ingre }}</a>
            {% endfor %}

    </body>
</html>
